
<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Reports Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="number" placeholder="Enter Weather Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Temp" name="temp" step=".01">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Wind Speed" name="windSpeed" step=".01">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Wind Direction" name="windDirection" step=".01">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Pressure" name="pressure" step=".01">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
</form>