<form class ="section box"action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label"> Weather Station name</label>
    <input class="input" type="text" placeholder="Enter weather station name" name="title">
  </div>
  <button class="button is-link">
   Add Weather Station 
  </button>
</form>