
<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Reports Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="number" placeholder="Enter Weather Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Temp" name="temp" step=".01">
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Wind Speed" name="windSpeed" step=".01">
      </div>
      <div class="select"> 
          <select name="windDirection">
         <option>North (N)</option>
        <option>North-Northeast (NNE)</option>
        <option>Northeast (NE)</option>
        <option>East-Northeast (ENE)</option>
        <option>East (E)</option>
        <option>East-Southeast (ESE)</option>
        <option>Southeast (SE)</option>
        <option>South-Southeast (SSE)</option>
        <option>South (S)</option>
        <option>South-Southwest (SSW)</option>
        <option>Southwest (SW)</option>
        <option>West-Southwest (WSW)</option>
        <option>West (W)</option>
        <option>West-Northwest (WNW)</option>
        <option>Northwest (NW)</option>
        <option>North-Northwest (NNW)</option>
        </select>
      </div>
      <div class="field">
        <input class="input" type="number" placeholder="Enter Pressure" name="pressure" step=".01">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
  
</form>