<div class="title p-3 is-flex">
  <figure >
  <img src="https://cdn.glitch.global/54c11e62-501d-4b81-a1db-75190508fba5/icons8-partly-cloudy-day.gif?v=1718644982375">
  </figure>
  <div class="ml-4">Weather station app 2</div>
</div>