<section id="autoreport-section" style="display: none;">
  <div class="box">
    <h3>Station Title</h3>
    <div id="autoreport-content">
        <div>Temp</div>
        <div>min and max wind</div>
        <div>min and max pressure</div>
    </div>
  </div>
</section>