
<div class="box"id="chart">
<script>
    
const data = {
    labels: [
         "09:00am", "12:00pm", "03:00pm", "06:00pm", "09:00pm",
    "12:00am", "03:00am", "06:00am", "09:00am", "12:00pm",
    "03:00pm", "06:00pm", "09:00pm", "12:00am", "03:00am",
    "06:00am", "09:00am", "12:00pm", "03:00pm", "06:00pm",
    "09:00pm", "12:00am", "03:00am", "06:00am", "09:00am"
    ],
    datasets: [
        {
            name: "Temp", type: "line",
            values: [{{chartData.temperatures}}]
        },
    ]
}

const chart = new frappe.Chart("#chart", { 
    title: "Weather forecast every 3 hours",
    data: data,
    type: 'axis-mixed', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
    height: 450,
    colors: ['#7cd6fd', '#743ee2']
})


</script>


</div>