{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
     Weather station.
  </h3>
  <figure class="image  " >
  <img src="https://cdn.glitch.global/54c11e62-501d-4b81-a1db-75190508fba5/weatherIcons.jpg?v=1718643993241" />
  </figure>
  
  <div class="section">
    Weather station app 2
  </div>
</section>