{{> menu}}
<section id="autoreport-view section">
  <div class="box">
    <h1 class="is-size-1 has-text-centered">Auto Generated Report for {{weather.stationName}}</h1>
    <div>
      
      {{> reading-info weather=weather}}
      {{> reading-graph chartData=chartData}}
 
    </div>
  </div>
</section>