{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div class="subtitle">
      Min Temp: {{minTemp}}
       
  </div>
  
  {{> list-reports}}
  {{> add-reports}}
</section>
